<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users app</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>

<header class="header">
    <p class="header__logo">Users app</p>
    <div class="header__nav">
        <ul class="header__nav-group">
            <li class="header__nav-item"><a href="/">home</a></li>
            <li class="header__nav-item"><a href="/login">login</a></li>
            <li class="header__nav-item"><a href="/users">users</a></li>
{{!--            <li class="header__nav-item"><a href="/logout">logout</a></li>--}}
        </ul>
    </div>
</header>
<div class="container">
    <h1>Home page</h1>
</div>
{{{body}}}

</body>
</html>
