<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>signIn</title>
</head>
<body>
<form action="/signIn" method="post">
    <div class="imgcontainer">
        <img src="https://www.pngall.com/wp-content/uploads/12/Avatar-PNG-Image.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="email"><b>Email <i>*</i></b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="psw"><b>Password <i>*</i></b></label>
        <input type="password" placeholder="Enter Password" name="password" id="psw" required>

        <input class="login-btn" type="submit" value="sigIn">
    </div>
</form>
</body>
</html>
