<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form
        id="loginForm"
        action="/login"
        method="post"
>
    <label for="login">login:</label>
    <input
            id="login"
            placeholder="login"
            type="text"
            name="login"
    >
    <br> <br>

    <label for="password">password:</label>
    <input id="password" placeholder="password" type="password" name="password">
    <br> <br>

    <input type="submit" value="send">

</form>

</body>
</html>
