<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div
        style="background-color: bisque;
        padding: 1rem .5rem"
>

    {{#each users}}

        <div
                style="background-color: burlywood;
                padding: 1rem .5rem;
                margin: .2rem 0"
        >

            <p>login: {{this.login}}</p>
            <p>password: {{this.password}}</p>
            <a>show user</a> <!--доделать-->
        </div>
        <hr>

    {{/each}}

</div>
</body>
</html>
